    <meta charset="utf-8" /><div class="list-block">
    <div class="content-block-title">{{pesquisa.listaPartes[0].titulo}}</div>
    <div class="content-block content-block-custom-description-part">
        <p>{{pesquisa.listaPartes[0].comentario}}</p>
    </div>
<div class="row margin">
    <div class="col-25"><a class="button button-fill button-raised" href="#" ng-click="navega('home')">Pagina Inical</a></div>
    <div class="col-50"></div>
    <div class="col-25"><a class="button button-fill button-raised" href="#" ng-click="navega('multipla')">Fechada Multipla</a></div>
</div>
